/*-------------------------全局-----------------------------*/
body{
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color:#fff ;
}
p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #666;
	text-decoration: none;
}
/*头部*/
.header{
	width: 100%;
	height: 320px;
	color: white;
	background:url(../img/banner.jpg) no-repeat center;
	background-size: cover;
}
.header-main{
	width: 100%;
	height: 96px;
	position: absolute;
	z-index: 9;
}
.main-container{
	height: 96px;
	padding:1rem;
}
.main-logo{
	box-sizing: border-box;
	display: inline-block;
}
.main-logo h1{
	margin-left: 20px;
	font:"微软雅黑";
	font-size: 35px;
	
}

.right-ul{
	float: right;
	position: relative;
	padding-top: 14px;
	padding-right: 50px;
}
.right-ul li{
	float: left;
	position: relative;
	margin-left: 25px;
	
}
/*home*/
.header-home{
	width: 100%;
	height: 53px;
	background: #f7f7f7;
}
.header-home li{
	display: inline-block;
	padding: 1em 2em;
}
.home-li{
	color: #ff4c4c;
	cursor: pointer;
}
.home-logo{
	margin-left: -40px;
}
.home-con{
	margin-left: -75px;
}
/*主体部分*/
.container{
	width: 100%;
	height: 1083px;
	padding-bottom: 3rem;
	padding-top: 3rem;
	box-sizing: border-box;
}
.container-all{
	max-width: 1140px;
	height: 987px;
	padding-bottom: 1rem;
	padding-top: 1rem;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.biao-small{
	font-size: 4px;
    color: #919aa0;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.biao-big{
	font-size: 30px;
    letter-spacing: 2px;
    color: #292a2b;
    text-transform: uppercase;
    margin-bottom: 12px;
    text-align: center;
}

.all-deng{
	float: left;
}
.deng-text input{
	width: 550px;
	height: 50px;
	margin-top: 15px;
	border: none;
	color: #495057;
	background: #f0f1f3;
	font: "微软雅黑";
	    font-family: inherit;
}
#textsearch{
	padding-left: 17px;
}
#textse{
	padding-left: 17px;
}
.deng-message textarea{
	padding: 0.8em 1em;
    color: #495057;
    margin-top: 15px;
    border: none;
    border-radius: 0em;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 1em;
    outline: none;
    width: 540px;
    background: #f0f1f3;
    font: "微软雅黑";
        font-family: inherit;
}
.all-dianji{
	margin-top: 1rem;
}
.all-sub{
	color: #fff;
	width: 138px;
	height: 46px;
	border: none;
	background-color: #212529;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
}
.all-lu{
	float: left;
	margin-left: 40px;
	margin-top: 15px;
}
.lu-phone{
	padding-bottom: 20px;
}
.lu-phone span{
	 color: #3d3f44;
}
.lu-phone p{
	color: #8c9398;
	margin-top: 10px;
	margin-bottom: 5px;
}
.lu-email{
	padding-bottom: 20px;
}
.lu-email span{
	 color: #3d3f44;
}
.lu-email p{
	color: #8c9398;
	margin-top: 10px;
	margin-bottom: 5px;
}
.lu-fax{
	padding-bottom: 20px;
}
.lu-fax span{
	 color: #3d3f44;
}
.lu-fax p{
	color: #8c9398;
	margin-top: 10px;
	margin-bottom: 5px;
}
.lu-location{
	padding-bottom: 20px;
}
.lu-location span{
	 color: #3d3f44;
}
.lu-location p{
	color: #8c9398;
	margin-top: 10px;
	margin-bottom: 5px;
}
.logo-img{
	width: 1110px;
	height: 356px;
}
.logo-img img{
	width: 1110px;
	height: 350px;
	
	padding-top: 35px;
}
/*结尾*/
.footer{
	background-color: #F7F7F7;
	width: 100%;
	height: 739px;
}
.footer-container{
	max-width: 960px;
	height: 739px;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-top{
	width: 960px;
	height: 739px;
	display: flex;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-left{
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 3em 0;
    margin-left:-40px ;
    position: relative;
    float: left;
    width: 100%;
    height: 655px;
    border-right: 1px solid gainsboro;
}
.footer-left h2{
	font:"微软雅黑";
	font-size: 35px;
	 margin-bottom: 40px;
}
.footer-left p{
	color: #8c9398;
    line-height: 2em;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-left h4{
	font-size: 14px;
	color: #5e5e61;
    font-weight: 600;
     margin-bottom: 20px;
}
.footer-left ul li{
	float: left;
	margin-right: 17px;
}
.footer-left ul li img{
	width: 34px;
	height: 34px;
}
.footer-right{
	width: 640px;
	height: 655px;
	border-left: 1px solid #ddd;
    padding: 3em 0em 3em 2em;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.footer-right-top{
	width: 607px;
	height: 185px;
	border-bottom: 1px solid gainsboro;
}
.footer-right-top h3{
    color: #3d3f44;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-right-top p{
	border-bottom: 20px;
	color: #8c9398;
	line-height: 2em;
	font-size: 15px;
}
.footer-right-top input{
	position: absolute;
	padding:17px 165px;
	border: none;
	color: #000;
    background: #efeeee;
    outline: none;
    letter-spacing: 2px;
}
.footer-right-top img{
	width: 86px;
	height: 48px;
	margin-left: 485px;
}
.footer-right-body{
	width: 580px;
	height: 395.4px;
	display: flex;
}
.right-in{
	padding: 3em 0;
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.right-in h3{
	color: #3d3f44;
	font-size: 15px;
	margin-bottom: 20px;
}
.right-in ul li{
	line-height: 3em;
	color: #727377;
	font-size: 13px;
}
.right-cu{
	padding: 3em 0;
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.right-cu h3{
	color: #3d3f44;
	font-size: 15px;
	margin-bottom: 20px;
}
.right-cu ul li{
	line-height: 3em;
	color: #727377;
	font-size: 13px;
}
.right-co{
	padding: 3em 0;
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.right-co h3{
	color: #3d3f44;
	font-size: 15px;
	margin-bottom: 20px;
}
.right-co-phone{
	margin-bottom: 20px;
}
.right-co-phone h4{
	font-size: 15px;
	color: #5e5e61;
    font-weight: 600;
}
.right-co-phone p{
	color: #8c9398;
	line-height: 3em;
}
.right-co-email{
	margin-bottom: 20px;
}
.right-co-email h4{
	font-size: 15px;
	color: #5e5e61;
    font-weight: 600;
}
.right-co-email p{
	color: #8c9398;
	line-height: 3em;
}
.right-co-location{
	margin-bottom: 20px;
}
.right-co-location h4{
	font-size: 15px;
	color: #5e5e61;
    font-weight: 600;
}
.right-co-location p{
	color: #8c9398;
	line-height: 3em;
}
.footer-right-bottom p{
	font-size: 14px;
	color: #555;
}
